    
  <section class="initial">
    <div class="inner">
      <div class="row text-center">
        <div class="header">
          <i class="fa fa-clock-o"></i><br>
          <div class="title">
            <span>Time is Gold</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="main-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="time-box text-center">
            <div class="headerPanel">
              <h2>Guild Hall Eidolon</h2>
            </div>
            <div class="nowPanel">
              <div class="nowContent clearfix">
                <div class="pull-left">
                  <a class="currentLabel">Aelius</a>
                  <span class="currentMiniLabel">next</span>
                </div>
                <div class="pull-right">
                  <img class="currentPhoto" width="50" src="//cdn.portskandia.com/ui/partnericon_jpg/P00006.jpg">
                </div>
              </div>
              <h2>09 : 16 : 50</h2>
            </div>
            <div class="bodyPanel">
              <div class="future">
                Body Content
              </div>
            </div>
            <div class="footerPanel">
              <div class="show-more">
                More
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="time-box text-center">
            <div class="headerPanel">
              <h2>Guild Hall Eidolon</h2>
            </div>
            <div class="nowPanel">
              <div class="nowContent clearfix">
                <div class="pull-left">
                  <a class="currentLabel">Aelius</a>
                  <span class="currentMiniLabel">next</span>
                </div>
                <div class="pull-right">
                  <img class="currentPhoto" width="50" src="//cdn.portskandia.com/ui/partnericon_jpg/P00006.jpg">
                </div>
              </div>
              <h2>09 : 16 : 50</h2>
            </div>
            <div class="bodyPanel">
              <div class="future">
                Body Content
              </div>
            </div>
            <div class="footerPanel">
              <div class="show-more">
                More
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="time-box text-center">
            <div class="headerPanel">
              <h2>Guild Hall Eidolon</h2>
            </div>
            <div class="nowPanel">
              <div class="nowContent clearfix">
                <div class="pull-left">
                  <a class="currentLabel">Aelius</a>
                  <span class="currentMiniLabel">next</span>
                </div>
                <div class="pull-right">
                  <img class="currentPhoto" width="50" src="//cdn.portskandia.com/ui/partnericon_jpg/P00006.jpg">
                </div>
              </div>
              <h2>09 : 16 : 50</h2>
            </div>
            <div class="bodyPanel">
              <div class="future">
                Body Content
              </div>
            </div>
            <div class="footerPanel">
              <div class="show-more">
                More
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer id="footer" class="text-center">
    <div class="container">
      <div class="nav-content row">
        <h1>
          We are Infinity. We Love Cookies.
        </h1>
        <p>Our goal is to create a strong but friendly guild wherein we could have hardcore members focused on pvp or pve dungeons but still chill and talk to eachother, enjoy the social aspects of the game. We're not lazy, I've been playing for only a few hours and am now level 36, I know it's not amazing but I've been consistently playing and also taking time to relax and talk to friends.</p>
        <button class="btn btn-lg btn-primary">Come Join Us!</button>
      </div>
    </div>
  </footer>

  <section id="footer-copyright" class="text-center">
    <div class="container">
      <div class="nav-content row">
        <span>Copyright 2014</span>
      </div>
    </div>
  </section>

